<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostService.baseAddress" value="http://rents/hmresponses/HostService" />
    <add key="hostService.netPipeAddress" value="net.pipe://localhost/hmresponses/HostService" />
    <add key="hostService.netTcpAddress" value="net.tcp://localhost:8889/hmresponses/HostService" />
    <add key="hostService.enableMetadata" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ResponsesQueueName" value=".\private$\HappyMealResponses"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="StatisticsService.StatisticsService" behaviorConfiguration="hmBehavior">
        <endpoint address="net.msmq://rents/private/HappyMealResponses"
                  binding="netMsmqBinding"
                  contract="StatisticsService.IStatisticsService"
                   behaviorConfiguration="HMResponsesNetMsmqBinding"/>
                  
        <endpoint address=""
          contract="StatisticsService.IStatisticsService" 
                  bindingConfiguration="basicHttpBinding_open" 
                  binding="basicHttpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hmresponses/StatisticsService" />
          </baseAddresses>
        </host>
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaDataBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="hmBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="HMResponsesNetMsmqBinding" deadLetterQueue="Custom">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding_Open">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_Open" maxBufferSize="5242880" maxReceivedMessageSize="5242880">
          <readerQuotas maxStringContentLength="5048576" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding_open" maxBufferSize="50000000" maxBufferPoolSize="50000000"
                 maxReceivedMessageSize="50000000" >
          <readerQuotas maxArrayLength="50000000" maxBytesPerRead ="50000000" maxDepth="50000000"
                         maxNameTableCharCount="50000000" maxStringContentLength ="50000000"/>
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
