<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="WCFSvcLibr1.My.MySettings.SurveyMasterConnectionString" connectionString="Data Source=.\DEVRENTS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.2\MSSQL\Data\SurveyMaster.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=False" providerName="System.Data.SqlClient" />
    <add name="SurveyMasterEntities" connectionString="metadata=res://*/MasterSurveyDataBase.csdl|res://*/MasterSurveyDataBase.ssdl|res://*/MasterSurveyDataBase.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\DEVRENTS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.2\MSSQL\Data\SurveyMaster.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=False;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMasterSurveyDBSvc" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILoginSvc" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IPostResponsetoSurveySvc" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netMsmqBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMasterSurveyDBSvc" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/happymealresponses"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IPostResponsetoSurveySvc"
        contract="PostResponseSurveySvc.IPostResponsetoSurveySvc" name="NetMsmqBinding_IPostResponsetoSurveySvc" />
      <endpoint address="http://rents/hm/MasterSurveyDB/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMasterSurveyDBSvc" contract="MstrSurveyDBSvc.IMasterSurveyDBSvc"
        name="BasicHttpBinding_IMasterSurveyDBSvc" />
      <endpoint address="http://rents/hm/LoginSvc/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoginSvc" contract="LogInSvcNS.ILoginSvc"
        name="BasicHttpBinding_ILoginSvc" />
      <endpoint address="http://rents/hm/MasterSurveyDB/ws" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMasterSurveyDBSvc" contract="MstrSurveyDBSvc.IMasterSurveyDBSvc"
        name="WSHttpBinding_IMasterSurveyDBSvc">
        <identity>
          <dns value="rents" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFSvcLibr1.RespDispatcherSvcBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFSvcLibr1.RespDispatcherSvc" behaviorConfiguration="WCFSvcLibr1.RespDispatcherSvcBehavior">
        <!-- Define NetMsmqEndpoint -->
        <endpoint address="net.msmq://localhost/private/dispatcherresponses"
                  binding="netMsmqBinding"
                  bindingConfiguration="BindingConfigforRespDispatcherSvc"
                  contract="WCFSvcLibr1.IRespDispatcherSvc" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hm/RespDispatcherSvc/"   />
          </baseAddresses>
        </host>

        <!--<endpoint address=""  binding="wsHttpBinding" contract="WCFSvcLibr1.IRespDispatcherSvc">
                    <identity>
                      <dns value="rents"/>
                    </identity>
                </endpoint>-->
      </service>      
    </services>
  </system.serviceModel>
</configuration>