<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseaddressRespProviderSvc" value="http://rents/hm/RespProviderSvc/"/>
    <add key="serverRespProviderSvc" value="rents"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IRespDispatcherSvc" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="0" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netMsmqBinding>

      <basicHttpBinding>
        <binding name="binding1" 
                 maxReceivedMessageSize="6000000">
          <readerQuotas maxStringContentLength="6000000"/>
        </binding>
        <binding name="BasicHttpBinding_IPgItemColxnSvc" 
                 maxReceivedMessageSize="6000000">
          <readerQuotas maxStringContentLength="6000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="net.msmq://localhost/private/dispatcherresponses"
                binding="netMsmqBinding" 
                contract="RespDispatchSvc.IRespDispatcherSvc"
                bindingConfiguration="NetMsmqBinding_IRespDispatcherSvc"
                name="NetMsmqBinding_IRespDispatcherSvc"/>
              
      <endpoint address="http://rents/hm/PgItemColxnSvc/" 
                binding="basicHttpBinding"
                contract="PgItemColxnSvcNS.IPgItemColxnSvc"
                bindingConfiguration="BasicHttpBinding_IPgItemColxnSvc"
                name="BasicHttpBinding_IPgItemColxnSvc" />
    </client>
    
    <services>
      <service name="RespProviderSvcLibr.RespProviderSvc"
              behaviorConfiguration="RespProviderSvcLibr.RespProviderSvcBehavior">
        <!--<endpoint address="" binding="basicHttpBinding" contract="RespProviderSvcLibr.IRespProviderSvc" bindingConfiguration="binding1">
          <identity>
            <dns value="rents" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hm/RespProviderSvc/" />
          </baseAddresses>
        </host>-->
      </service>
      
      <service name="RespProviderSvcLibr.CommandSvc"
               behaviorConfiguration="RespProviderSvcLibr.CommandSvcBehavior">
        <endpoint address="" 
                  binding="wsHttpBinding" 
                  contract="RespProviderSvcLibr.ICommandSvc">
          <identity>
            <dns value="rents" />
          </identity>
        </endpoint>
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hm/RespProviderSvc/CommandSvc/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RespProviderSvcLibr.RespProviderSvcBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior name="RespProviderSvcLibr.CommandSvcBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
  </system.serviceModel>
</configuration>
