<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CustomerDBSvc.My.MySettings.ExxonSurveyMasterConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.2\MSSQL\Data\ExxonSurveyMaster.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="CustomerDBSvc.My.MySettings.ExxonSurveyMasterConnectionString1"
      connectionString="Data Source=.\DEVRENTS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\ExxonSurveyMaster.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=False"
      providerName="System.Data.SqlClient" />
    <add name="CustomerDBSvc.My.MySettings.ExxonSurveyMasterConnectionString2"
      connectionString="Data Source=LEASES\DEVRENTS;Initial Catalog=ExxonSurveyMaster;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="CustomerDBSvc.Service1Behavior"
        name="CustomerDBSvc.CustomerDBSvc">
        <endpoint address="" binding="wsHttpBinding" contract="ICustomerDBSvc.ICustomerDBSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hm/CustomerDBSvc/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomerDBSvc.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
