<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EndPtDataCntxtSvcNS.My.MySettings.SurveyMasterConnectionString"
      connectionString="Data Source=.\DEVRENTS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.2\MSSQL\Data\SurveyMaster.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="EndPtDataCntxtSvcNS.EndPtDataCntxtSvc"
         behaviorConfiguration="EndPtDataCntxtSvcNS.EndPtDataCntxtSvcBehavior">
        <endpoint address="ws" 
                  binding="wsHttpBinding" 
                  contract="IEndPtDataCntxtSvcNS.IEndPtDataCntxtSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hm/EndPtDataCntxtSvc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EndPtDataCntxtSvcNS.EndPtDataCntxtSvcBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
