<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TesterWCFSvcLibr.My.MySettings.Survey4DataStoreConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.2\MSSQL\Data\Survey4DataStore.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="baseaddressMasterSurveyDBSvc" value="http://rents/hm/MasterSurveyDB/"/>
    <add key="serverMasterSurveyDBSvc" value="rents"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TesterWCFSvcLibr.TesterSvcBehavior"
        name="TesterWCFSvcLibr.TesterSvc">
        <!--<endpoint address="" binding="wsHttpBinding" contract="TesterWCFSvcLibr.ITesterSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://rents/hm/TesterSvc/" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TesterWCFSvcLibr.TesterSvcBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
